<section class="wrapper cart-template__wrapper ">
  <div class="container">
    <div class="cart-template" data-cart-view="data-cart-view">
      <div
        class="page-width"
        data-section-id="{{ section.id }}"
        data-section-type="cart-template"
        data-ajax-enabled="{{ section.settings.cart_ajax_enable }}"
      >
        <form action="/cart" method="post" novalidate class="cart form-cart">
          <div class="cart-wrapper">
            <div class="cart-items__wrapper">
              <div class="cart-items">
                <div class="cart-item-content" rv-each-item="cart.items">
                  <div class="cart-item__image">
                    <div class="cart-item__image-wrapper">
                      <img rv-src="item.image | product_image_size 'medium'">
                    </div>
                  </div>
                  <div class="cart-item">
                    <div class="cart-item__description">
                      <h6 class="cart-item__title">
                        <a href="#" rv-href="item.url">
                          <span rv-text="item.product_title"></span>
                        </a>
                      </h6>
                      <p class="cart-item__variant">
                        <span rv-text="item.variant_title"></span>
                      </p>
                    </div>
                    <p class="cart-item__price">
                      <span rv-html="item.price | money Currency.currentCurrency"></span>
                    </p>
                    <div class="cart-item__quantity quantity-descope qty-input">
                      <div class="quantity-block flex align-center">
                        <span class="quantity" rv-text="item.quantity"></span>
                      </div>
                      <p class="cart-item__remove">
                        <a href="#" rv-data-cart-remove="index | plus 1"> remove</a>
                      </p>
                    </div>
                    <div class="cart-item__total">
                      <div class="total-line-price" rv-html="item.line_price | money Currency.currentCurrency"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Cart page section",
  "presets": {
    "name": "Cart page section"
  }
}
{% endschema %}
