<section class="section">
  <div class="container featured">
    <div class="featured__title">{{ section.settings.featured_title }}</div>
    <div class="featured__inner">
      {% for product in collections[section.settings.collection_feat].products %}
        <div class="featured__item product" data-product-id="{{product.id}}">
          {% render 'product-cart', product: product %}
        </div>
      {% endfor %}

      {% for block in section.blocks %}
        <div class="featured__item product" data-product-id="{{block.settings.product_item.id}}">
          {% render 'product-cart', product: block.settings.product_item %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Products section",
    "settings": [
      {
        "type": "collection",
        "id": "collection_feat",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "featured_title",
        "label": "Featured title",
        "default": "Featured Products"
      }
    ],
    "blocks": [
      {
        "name": "Product item",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product_item",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Products section"
      }
    ]
  }
{% endschema %}